/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */



/* the header class was converted to a header tag by eliminated the . */

/* Style the navigation bar links */


body{
    height: 100%;
    }
    
    header {
    border: blue;
    border-bottom: thick;
    }
    
    header .col-md-4{
        text-align: center;
       padding: 10px ;
        margin-left: 5px;
    }
    
    header ul li {
        display: inline-block;
        margin-left: 10px;
    
    }
    
    header .card {
    background-color: blue;
    text-align: center;
    margin-left: 50px;
    }
    
    
    main {
        /* background-color: white; */
        border-top: black;
        margin-top: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* height: auto; */
        color: black;
        margin-bottom: 20px;
    }
    
    main button{
        margin-bottom: 10px;
    }
    
    main .col-7{
       
        background-color: white;
        border-top: thick;
    }
    
    main .col-7 h1{
        color: lightseagreen;
        border-bottom: thick black;
        padding: 20px;
    }
    
    main .col-7 a{
    margin-bottom: 5px;
    }
    
    main .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    
    footer {
        margin-top: 10px;
        padding: 10px;
        border-top: 5px solid blue;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        background-color: gray;
        font-size: 20px;
    }
    
    
    